<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flippanda.auctionFunk.mapper.auctionLogMapper">
	
	<resultMap type="HashMap" id="auction_log">
	</resultMap>
	
	<!-- GET BID LOG -->
	<select id="getBidLog" resultType="com.flippanda.vo.auctionLogVO">
			SELECT * FROM auction_log_tbl WHERE auction_num = #{auction_num}
	</select>
	
	<!-- BID FUNCTION -->
	<insert id="bid" parameterType="com.flippanda.vo.auctionVO">
		INSERT INTO auction_log_tbl 
            		(auction_log_num, 
            		auction_num, 
            		user_num,
            		auction_log_date, 
            		auction_bid_log)
     		 VALUES (auction_log_num.nextval, 
            		#{auction_num},
            		#{user_num}, 
            		SYSDATE, 
            		#{bid_amount})
	</insert>
	
	<delete id="delete_bidLog">
		DELETE FROM auction_log_tbl WHERE auction_num = #{auction_num}
	</delete>
	
</mapper>