<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flippanda.admin.mapper.AdminMapper">

	<resultMap type="com.flippanda.vo.AdminVO" id="adminRM">
		<result property="adminNum" column="admin_num"/>
		<result property="userNum" column="user_num"/>
		<result property="endAuction" column="admin_endAuction"/>
		<result property="auctionInProgress" column="admin_In_progress"/>
	</resultMap>
	<!-- 어드민 정보추가  -->
	<insert id="adminInsert">
		INSERT INTO admin_tbl (user_num)
			values
		(#{userNum})	
	</insert>
	
	<!-- 특정 어드민정보 받아오기 -->
	<select id="getAdminData" resultType="com.flippanda.vo.AdminVO" resultMap="adminRM">
		SELECT * FROM admin_tbl WHERE admin_num = #{adminNum}
	</select>	
	
	<!-- 어드민정보 전부 받아오기 -->
	<select id="getAdminAllData" resultType="com.flippanda.vo.AdminVO" resultMap="adminRM">
		SELECT * FROM admin_tbl
	</select>
	
	<!-- 어드민 박탈 -->
	<delete id="adminDelete" >
		DELETE FROM admin_tbl WHERE user_num = #{userNum}
	</delete>
	
	<!-- 회원 정보 수정 -->
	<update id="adminUpdate">
		UPDATE admin_tbl SET 
			admin_name = #{adminName}, admin_pw = #{adminPw}
		WHERE admin_num = #{adminNum}
	</update>
	
</mapper>