@charset "UTF-8";
	
	body {
    height: 100%;
    text-size-adjust: 100%;
    -ms-overflow-style: none; 
	}
	
	#wrapper{
	height: auto;
	min-height: 100%;
	}
	
	#header {
	visibility: visible;
	}
	
	#main {
	margin-left:10%;
	width:94%;
	height: 100px;
	overflow-y: scroll;
	}
	
	#sidePanel{
	text-align: center!important; 
	transition-duration:0.4s;
	transition-timing-function:ease;
	}
	
	
	.down {
	background-color:rgba(0,0,0,.8);
	transition-duration:0.4s;
	transition-timing-function:ease;
	}
	
	.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
	}
		
	.tbd {
	color: red;
	text-decoration:underline;
	font-weight: 700;  
	}
	
	.sideOnOff {
	border:2px; 
	background: black; 
	visibility: hidden;
	}
	
	.user_profile a:hover {
	color:#34B475;
	}
	
	#post_btn a:hover {
	color:#34B475;
	}

	